.div{
    height: 50px;
    width: 50px;
    background-color: cyan;
    border: 2px solid black;
    /* position: relative;
   left : -10px; 
   top: -10px; */
   /* position: absolute;
   left : 50px; 
   top: -10px; */
   /* position: fixed;
   left : 100px; 
   top: 100px; */
   position: sticky;
   left : 500px; 
   top: 100px;
   /* transition-duration: 3s; */
    
}
/* .div:hover{
    left: 100px;
    background-color: fuchsia;
    cursor: pointer;
} */