.wrap{
    width: 700px;
    height: 150px;
    border-radius: 10px;
}
.progbar{
    background-color: crimson;
    width: 700px;
    height: 150px;
    border-radius: 10px;
    animation-name: anmi1;
    animation-delay: 1s;
    animation-duration: 4s;
    /* animation-timing-function: ease-in; */
    /* animation-timing-function: ease-out; */
    /* animation-timing-function: ease-in-out; */
    /* animation-timing-function: step-start */
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: infinite;
}
 
@keyframes anmi1{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
/* @keyframes anmi1{
    0%{
       width: 0%
    }
    50%,60%{
        width: 40%;
    }
    100%{
        width: 100%;
    }
} */